@keyframes flowerRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

.animate-flower {
  animation: flowerRotate 4s ease-in-out infinite alternate;
}

.hero-dark {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../../assets/background.png');
  filter: invert(100%);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  z-index: -1;
}

:root:not(.dark) .hero-dark {
  filter: invert(0);
}
