.header {
  width: 100%;
  padding: 1.5rem;
}

.content {
  padding: 0 3rem !important;
  margin-bottom: 3rem !important;
  h2 {
    border-bottom: 1px solid #cccccc;
    color: var(--h2-title-color);
    font-size: var(--h2-font-size);
  }
}

.list li {
  /* list-style: circle; */
  list-style: decimal;
  color: var(--text-color);
}

.name {
  color: var(--h2-title-color);
  font-size: var(--h1-font-size);
}

.empty {
  padding: 0 1rem;
}

.job_title {
  text-transform: capitalize;
  font-weight: 500;
}

.text {
  text-transform: capitalize;
}

/* .overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
} */

/* .section {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    color: #000;
    font-size: var(--h3-font-size);
  }
} */

/* .skills {
  display: flex;
  flex-direction: column;
  gap: 4px;

  div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
} */

/* .experience {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
} */

/* .project {
  display: flex;
  align-items: center;
  gap: 4px;
} */

/* .education {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
} */

/* .languages,
.activities {
  display: flex;
  flex-direction: column;
  gap: 4px;
} */

/* .activities div {
  display: flex;
  align-items: center;
  gap: 4px;
} */

@media print {
  .header {
    width: 100%;
    padding: 1rem;
    height: auto;
  }

  a[href]:after {
    content: attr(data-print);
  }

  .resume {
    margin: 0 auto;
    width: 100%;
    gap: 0 !important;
  }

  .section {
    gap: 2px !important;
  }

  .overview,
  .skills,
  .courses {
    gap: 0 !important;
  }

  p,
  a,
  span {
    font-size: 10px !important;
    font-weight: 400 !important;
  }

  h3 {
    font-size: 12px !important;
  }

  h2 {
    font-size: 14px !important;
  }

  .content {
    padding: 0 2rem !important;
    margin-bottom: 1rem !important;
    height: auto;
  }
}
