@media print {
  .content {
    margin: 0 auto;
    width: 100%;
    background-color: var(--print-bg);
    color: var(--print-text-color);
  }

  .card {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--print-bg);
  }

  a[href]:after {
    content: attr(data-print);
  }

  .resume {
    margin: 0 auto;
    width: 100%;
    gap: 0 !important;
  }

  .section {
    gap: 2px !important;
  }

  .profile {
    gap: 0 !important;
  }

  .detail-content {
    padding: 0 2rem !important;
    margin-bottom: 1rem !important;
    height: auto;
  }

  .cv-button,
  .back-button {
    display: none;
  }
}
