.content {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.main {
  margin: var(--header-height) 0;
  padding: 0;
}

@media screen and (min-width: 968px) {
  .content {
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    width: 100%;
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }

  :root:not(.dark) .card {
    background-color: #ffffff;
  }
}

@media print {
  body {
    background-color: var(--print-bg);
  }

  .content {
    margin: 0 auto;
    width: 100%;
    background-color: var(--print-bg);
    color: #1f1f24;
  }

  .card {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--print-bg);
  }

  @page {
    size: auto;
    margin: 0mm;
  }

  html {
    font-size: var(--print-font-size);
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    background-color: var(--print-bg);
  }

  .header {
    width: 100%;
    padding: 1rem;
    height: auto;
  }

  a[href]:after {
    content: attr(data-print);
  }

  .resume {
    margin: 0 auto;
    width: 100%;
    gap: 0 !important;
  }

  .section {
    gap: 2px !important;
  }

  .profile,
  .skill {
    gap: 0 !important;
  }

  p,
  a,
  span {
    font-size: 10px !important;
    font-weight: 400 !important;
  }

  h3 {
    font-size: 12px !important;
    color: #000000;
  }

  h4 {
    color: var(--mute-foreground);
  }

  h2 {
    font-size: 14px !important;
  }

  .section li {
    color: var(--foreground);
  }

  .detail-content {
    padding: 0 2rem !important;
    margin-bottom: 1rem !important;
    height: auto;
  }
}
